/* Color variables */
$color-primary: #55c57a; // Medium green
$color-primary-light:  rgba(126, 213, 111, 1); // Light green
$color-primary-dark: rgba(40, 180, 133, 1); // Dark green
$color-dark-grey: #777; // Dark grey
$color-white:#fff; // White
$color-black: #000; // Black